*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
 .box{
    border: 1px solid black;
    width: 100%;
    height: 500px;
    overflow: hidden;
    cursor: pointer;
}
 .red-box{
     position: static;
    width: 7%;
    height: 11%;
    background-color: red;
    border-radius: 50%;
    margin: 15px 40px;
    display: inline-block;
    
}
.green-box{
    width: 7%;
    height: 11%;
    background-color: rgb(51, 255, 0);
    border-radius: 50%;
    margin: 15px 40px;
    display: inline-block;
}
.blue-box{
    width: 7%;
    cursor: pointer;
    height: 11%;
    background-color: rgb(0, 47, 255);
    border-radius: 50%;
    margin: 15px 40px;
    display: inline-block;
} 

